/* Header area css
============================================================================================ */
.main_header_area{
    padding: 0px 60px;
    overflow: hidden;
    .logo{
        display: inline-block;
        line-height: 60px;
        img{
        }
    }
    .social_area{
        
    }
}
.offcanvas_menu{
    max-width: 450px;
    min-height: calc(100vh - 60px);
    background: #fff;
    position: fixed;
    top: 60px;
    left: -460px;
    z-index: -10;
    width: 100%;
    @include transition;
    z-index: 22;
    .offcanvas_menu_inner{
        border-left: 2px solid #f6f6f6; 
        margin-left: 60px;
        background: #fdfdfd;
        max-height: calc(100vh - 60px);
    }
    .nav.navbar-nav{
        float: none;
        width: 100%;
        @include transition;
        li{
            float: none;
            width: 100%;
            a{
                border-top: 2px solid #f6f6f6; 
                display: block;
                width: 100%;
                padding: 0px 30px;
                font-size: 15px;
                font-family: $roboto;
                color: $pfont;
                cursor: pointer;
                @include transition;
                line-height: 63px;
                i{
                    float: right;
                }
            }
            &:last-child{
                a{
                    border-bottom: 2px solid #f6f6f6; 
                }
            }
            &.submenu{
                .dropdown-menu{
                    position: relative;
                    width: 100%;
                    min-width: 100%;
                    border: none;
                    box-shadow: none;
                    border-radius: 0px;
                    padding: 0px;
                    background: #f7f7f7;
                    li{
                        a{
                            background: #f7f7f7;
                            border-top: 2px solid #f0f0f0;
                            padding-left: 60px;
                            position: relative;
                            @include transition;
                            &:before{
                                content: "";
                                background: $black;
                                width: 12px;
                                height: 1px;
                                left: 30px;
                                top: 50%;
                                position: absolute;
                            }
                        }
                        &:hover{
                            a{
                                background: #fff;
                            }
                        }
                    }
                }
                &.open{
                    a{
                        background: #fff;
                    }
                }
            }
            &:hover, &.active{
                a{
                    background: #fff;
                }
            }
        }
    }
    &.open{
//        transform: scaleX(1);
        left: 0px;
    }
}
.social_area{
    .dope_social_icon{
        display: inline-block;
        li{
            display: inline-block;
            a{
                font-size: 15px;
                color: $black;
                padding-right: 10px;
                display: inline-block;
                line-height: 60px;
            }
        }
    }
    .language{
        display: inline-block;
        li{
            display: inline-block;
            a{
                margin-left: 10px;
                display: inline-block;
                font-size: 15px;
                color: $black;
                font-family: "monR";
                opacity: .20;
                position: relative;
                text-transform: uppercase;
                @include transition;
                &:before{
                    content: url(../img/text-underline.png);
                    position: absolute;
                    bottom: -5px;
                    left: 2px;
                    opacity: 0;
                }
            }
            &:hover, &.active{
                a{
                    opacity: 1;
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* End Header area css
============================================================================================ */

/* End Header area css
============================================================================================ */
.offcanvas_from{
    max-width: 450px;
    max-height: calc(100vh - 60px);
    background: #fff;
    position: fixed;
    top: 60px;
    left: -460px;
    z-index: -10;
    overflow: auto;
    width: 100%;
    @include transition;
    z-index: 22;
    .offcanvas_inner{
        padding: 35px 60px 0px 60px;
        .contac_form{
            padding-top: 28px;
            padding-bottom: 0px;
        }
        .contact_details_side{
            padding-bottom: 50px;
            clear: both;
            overflow: hidden;
        }
    }
    &.open{
        left: 0px;
    }
}
#offcanvas_hide_trigger {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    top: 0;
    left: 0;
    z-index: -1;
    &.open{
        z-index: 20;
    }
}
.main_header_area.affix{
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    height: 60px;
    position: fixed;
    & + section,& + div,& + .row{
        margin-top: 60px;
    }
}
/* End Header area css
============================================================================================ */