.we_dope_area{
	padding: 60px 0px;
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
	.we_dope{
		position: relative;
		.we_dope_left{
			img{
				max-width: 100%;
			}
		}
		.we_dope_right{
			text-align: center;
			padding: 60px 0;
			position: absolute;
			top: 0;
			right: 0;
			.dope_right_inner{
				background: #fdfdfd;
				padding: 70px 0 60px;
				h2{
					font-family: "monR";
					font-size: 36px;
					color: #000;
				}
				img{
					padding-top: 20px;
				}
				p{
					max-width: 680px;
					display: block;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					font: normal 15px/24px $roboto;
					color: #434343;
					padding-top: 40px;
				}
				.work_experience_area{
					padding-top: 45px;
					text-align: center;
					.single_work_lavel{
						padding: 0px 15px;
						width: 210px;
						display: inline-block;
						.single_work_lavel_inner{
							text-align: center;
							border: 2px solid #f5f5f5;
							padding: 35px 0px 30px;
							i{
								font-size: 64px;
								color: $black;
							}
							h4{
								font-size: 16px;
								font-family: $incon;
								color: $black;
								padding-top: 20px;
							}
						}
					}
				}
			}
			
		}
	}
}